

.word-card {
  border: 1px solid rgb(196, 196, 196);
  padding: 20px;
  text-align: center;
  background: white;
  box-shadow: 1px 1px 1px rgb(220, 220, 220);
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
  &.blue {
    border-color: rgb(86, 173, 255);
    background: rgb(209, 237, 255);
    color: rgb(56, 119, 255);
  }
  &.red {
    border-color: rgb(200, 81, 0);
    background:rgb(255, 207, 186);
    color: rgb(200, 47, 0);
  }
  &.brown {
    border-color: rgb(187, 181, 0);
    background:rgb(255, 245, 215);
    color: rgb(161, 105, 0);
  }
  &.black {
    border-color: rgb(0, 0, 0);
    background:rgb(60, 70, 80);
    color: rgb(220, 240, 240);
  }
}