/* RTC TEST */

.rtc-button-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.connect {
  justify-self: left;
  background: green;
  padding: 20px;
  color: white;
  border: 1px solid #000;
  border-radius: 5px;
}

.disconnect {
  justify-self: right;
  background: red;
  padding: 20px;
  color: white;
  border: 1px solid #000;
  border-radius: 5px;
}

.messagebox {
  margin-top: 30px;
  input {
    padding: 10px;
    margin-left: 5px;
  }
}

.send-message {
  padding: 10px;
}
